body {
    background-color: #282a36;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: #6272a4;
}

.texto {
    display: flex;
    justify-content: center;
}

.input {
    background-color: #44475a;
    border: none;
    font-size: 20px;
    color: #f8f8f2;
}

.botonD {
    display: flex;
    justify-content: center;
}

.boton {
    background-color: #44475a;
    color: #f8f8f2;
    font-size: 20px;
    font-weight: bold;
    border: none;
    padding: 5px 10px;
}

.boton:hover {
    cursor: pointer;
    background-color: #6272a4;
    color: #282a36;
}

.parrafo {
    text-align: center;
    font-size: 30px;
    margin: 10px 0;
}